name: Gradle Verify

on:
  push:
    branches:
      - '*'

jobs:
  verify:
    name: Run Gradle verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-cache-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-cache-${{ runner.os }}-
#      - name: Ensure gradlew is executable
#        run: chmod +x ./gradlew
      - name: Run Gradle verify
        run: ./gradlew verify --no-daemon --console=plain
